spring:
  application:
    name: mbordoya-back-web-main

    security:
      pepper: ${SECURITY_PEPPER}

    feature-flags:
      example-consumer-enabled: ${FF_EXAMPLE_CONSUMER_ENABLED}
  cache:
    type: CAFFEINE
    caffeine:
      spec: "initialCapacity=4, expireAfterAccess=24h"

  flyway:
    user: ${FLYWAY_DATABASE_USERNAME}
    password: ${FLYWAY_DATABASE_PASSWORD}
    locations: classpath:migration/versions
    baseline-on-migrate: true
    baseline-version: 0
    enabled: true

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false

  kafka:
    properties:
      schema:
        registry:
          url: ${SCHEMA_REGISTRY_URL}
      security:
        protocol: "PLAINTEXT"
    consumer:
      bootstrap-servers: ${BOOTSTRAP_SERVERS}
      properties:
        key.deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer #
        value.deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer #
      auto-offset-reset: earliest
    producer:
      bootstrap-servers: ${BOOTSTRAP_SERVERS}
      properties:
#        key.serializer: org.apache.kafka.common.serialization.StringSerializer
#        value.serializer: org.apache.kafka.common.serialization.StringSerializer

        key.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
        value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
        auto.register.schemas: true
      auto-offset-reset: earliest

# Actuator endpoints configuration
management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: [ info, health, metrics, prometheus ]

fwkcna:
  jpa:
    data-migration:
      disabled: false

  kafka:
    producer:
      topics:
        example: mbordoya.test.topic.examples
    consumer:
      topics:
        example: mbordoya.test.topic.examples
        example-group-id: mbordoya_test_topic_examples_${spring.application.name}_v1
      error-type: CUSTOM

  buckets:
    - id: minio_local_bucket_a
      bucket-name: localbucketa
      enabled: true
      provider: minio
      url: ${MINIO_SERVER_URL}
      trust-all-certs: true
      relax-hostname: true
      virtual-host-buckets: false
      signed-operation-token-expiration: 120
      credentials:
        access-key: ${MINIO_ACCESS_KEY}
        secret-key: ${MINIO_SECRET_KEY}
    - id: minio_local_bucket_b
      bucket-name: localbucketb
      enabled: true
      provider: minio
      url: ${MINIO_SERVER_URL}
      trust-all-certs: true
      relax-hostname: true
      virtual-host-buckets: false
      signed-operation-token-expiration: 120
      credentials:
        access-key: ${MINIO_ACCESS_KEY}
        secret-key: ${MINIO_SECRET_KEY}

server:
  port: 8080